<!DOCTYPE html>
<html>
<head>
    <title>CarMaker Web InterFace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#connectButton").click(function(){
                $.ajax({
                    type: "POST",
                    url: "/button-click",
                    success: function(data){
                        // Redirecting to the simulation page
                        window.location.href = "/simulation";
                    },
                    error: function(){
                        // Handling error
                        $("#message").text("Error connecting to Carmaker.");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>CarMaker Connection</h1>
    </header>
    <div class="container">
        <button id="connectButton">Connect to Carmaker</button>
        <p id="message"></p> <!-- Element to display messages -->
    </div>
    <!-- ... [rest of your body content] ... -->
</body>
</html>
