<!DOCTYPE html>
<html>
<head>
    <title>CarMaker Control</title>
    <script src="https://cdn.socket.io/socket.io-4.0.0.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('WebSocket connected!');
        });

        // Listen for 'message' event
        socket.on('message', function(data) {
        document.getElementById('status').innerHTML = data.data;
        }); 

        function runApp() {
            $.get('/run-app', function(response) {
                console.log(response.message);
                // Optionally update the status here if needed
                document.getElementById('status').innerHTML = response.message;
            });
        }
    </script>
</head>
<body>
    <h1>CarMaker Control Panel</h1>
    <button onclick="runApp()">Run CarMaker</button>
    <div id="status">Waiting for status...</div>
</body>
</html>
